% {recursive_cmds,[]}
% {require_erts_vsn,".*"}
% {require_otp_vsn,".*"}
% {require_min_otp_vsn,".*"}
% {lib_dirs,[]}
% {sub_dirs,["dir1","dir2"]}
% {plugins,[plugin1,plugin2]}
% {plugin_dir,"some_other_directory"}
% {pre_hooks,[{clean,"./prepare_package_files.sh"},
%         {"linux",compile,"c_src/build_linux.sh"},
%         {compile,"escript generate_headers"},
%         {compile,"escript check_headers"}]}
% {post_hooks,[{clean,"touch file1.out"},
%         {"freebsd",compile,"c_src/freebsd_tweaks.sh"},
%         {eunit,"touch file2.out"},
%         {compile,"touch postcompile.out"}]}

{erl_opts, [debug_info, {i, "test"}, {src_dirs, ["src"]}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.

{sub_dirs, ["rel"]}.

{deps, [{mochijson2, ".*", {git, "https://github.com/bjnortier/mochijson2.git"}}]}.